.buttons{
    margin-top: 10px;
}
.buttonChooseMode{
    border-radius: 10px;
    background-color: rgb(158, 210, 250);
    color: #fff;
    border: #fff 2px solid;
    padding: 13px 16px;
    margin: 10px 10px 0 10px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #ccc;
    &:hover{
        opacity: 0.65;
        transition: 0.2s opacity;
    }
}
.buttonSingle{
    opacity: 0.8;
}
.errors{
    color: rgb(255, 56, 56);
}
