html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  color:#23262b;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
h3, h4, h5, h6{
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p, li{
  font-size: 1.1rem;
  line-height: 20px;
}

input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=password]::placeholder,
  textarea::placeholder{
    color: rgb(204, 204, 204);
}

@media (min-width: 570px){
  p{
    line-height: 25px;
  }
  h3, h4, h5, h6{
    font-size: 1.9rem;
  }
}