.root {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100%;
    height: 100vh;
	p{
		font-size: 1.3rem;
		color: rgb(71, 156, 189, 0.7);
		margin-top: 80px;
	}
}

.container {
    display: flex;
    justify-content: center;
	padding: 50px 0;
    width: 40%;
}

.ball {
	width: 20px;
	height: 20px;
	margin: 10px auto;
	border-radius: 50%;
}

.ball:nth-child(1) {
	background: #ca70e8;
	animation: up 1s infinite ease-in-out;
}

.ball:nth-child(2) {
	background: #7ec7c0;
	animation: down 1s infinite ease-in-out;
	animation-delay: -0.3s;
}

.ball:nth-child(3) {
	background: #f04a4a;
	animation: up 1s infinite ease-in-out;
	animation-delay: -0.6s;
}

.ball:nth-child(4) {
	background: #4956df;
	animation: down 1s infinite ease-in-out;
	animation-delay: -0.9s;
}

.ball:nth-child(5) {
	background: #4be445;
	animation: up 1s infinite ease-in-out;
	animation-delay: -1.2s;
}

.ball:nth-child(6) {
	background: #e6e86f;
	animation: down 1s infinite ease-in-out;
	animation-delay: -1.5s;
}

@media (min-width: 600px){
	.root{
		p{
			font-size: 1.6rem;
		}
	}
	.ball {
		width: 30px;
		height: 30px;
	}
}

@keyframes up {
	0% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(-30px);
	}
}

@keyframes down {
	0% {
		transform: translateY(30px);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(30px);
	}
}