.root{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #7c99ac;
    overflow: hidden;
    .containerIconsLine{
        display: flex;
        position: relative;
        width: 100%;
        top: -60%;
        padding: 5px 0;
        transform: rotate(-30deg);
        div{
            display: flex;
            animation: scroll1 80s linear infinite;
            animation-delay: -80s;
            &:nth-child(2){
                animation: scroll2 80s linear infinite;
                animation-delay: -40s;
            }
            svg{
                color: rgba(140, 160, 174, 0.5);
                transition: 1s;
                padding: 0 5px;
                user-select: none;
                cursor: default;
                width: 64px;
                &:hover{
                    transition: 0s;
                    color: #ffffff;
                }
            }
        }
        &:nth-child(even){
            div{
                animation: scroll3 80s linear infinite;
                animation-delay: -80s;
                &:nth-child(2){
                    animation: scroll4 80s linear infinite;
                    animation-delay: -40s;
                }
            }
        }
    }
}

@keyframes scroll1 {
    0%{
        transform: translateX(100%);
    }
	100% { 
        transform: translateX(-100%);
    }
}
@keyframes scroll2 {
    0%{
        transform: translateX(0%);
    }
	100% { 
        transform: translateX(-200%);
    }
}

@keyframes scroll3 {
    0%{
        transform: translateX(-100%);
    }
	100% { 
        transform: translateX(100%);
    }
}
@keyframes scroll4 {
    0%{
        transform: translateX(-200%);
    }
	100% { 
        transform: translateX(0%);
    }
}