/* Variables */
@mixin display-justify-content($display, $content){
    display: $display;
    justify-content: $content;
}

/* Containers */
.root{
    padding: 20px 0;
}
.container{
    display: flex;
    height: 60px;
    margin: 0 4%;
    position: relative;
    z-index: 100;
}
/* Brand of the page*/
.brand{
    @include display-justify-content(flex, center);
    align-items: center;
}
.title{
    display: flex;
    margin: 0;
    flex-direction: column;
    font-weight: 500;
    &:hover{
        color: #3c8bc0;
        transition: 0.3s color;
    }
}
.name{
    font-size: 1.2rem;
}
.description{
    font-size: 0.9rem;
}
@media (min-width: 570px){
    .name{
        font-size: 1.3rem;
    }
    .description{
        font-size: 1rem ;
    }
    .container{
        height: 70px;
    }
}

/* Menu */
.menu{
    flex-grow: 3;
    font-weight: 500;
    display: flex;
    align-items: center;
    @include display-justify-content(flex, flex-end);
    .nav{
        @include display-justify-content(flex, center);
        div{
            @include display-justify-content(flex, center);
        }
        a{
            padding: 5px;
            margin: auto 10px;
            &:hover{
                color: #3c8bc0;
                transition: 0.3s color;
            }
        }
        div:last-child{
            margin-right: 0;
            a{
                border: 1px solid rgb(44, 44, 44);
                border-radius: 10px;
                &:hover{
                    border-color: #3c8bc0;
                    transition: 0s border-color;
                }
            }
        }
    }
}
.signout{
    @include display-justify-content(flex, center);
    align-items: center;
}
.iconLogout{
    margin: auto 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg{
        width: 20px;
    }
}

// Navbar Collapse
.containerNavbarCollapse{
    height: 30px;
    padding: 5px;
    cursor: pointer;
    svg{
        width: 30px !important;
        height: 100%;
    }
    &:hover{
        color: #3c8bc0;
        transition: 0.3s color;
    }
}
// Menu responsive
.containerMenuResponsive{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    .content{
        margin: 33px auto 0;
        div{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            text-align: center;
            padding: 10px 0;
            p, a{
                font-weight: 500;
                font-size: 1.25rem;
            }
            p{
                width: 100px;
                padding: 15px 10px;
            }
            &:first-child{
                border-top: 0;
            }
            &:hover{
                color: #3c8bc0;
                transition: 0.3s color;
            }
        }
    }
}
.openedMenuResponsive{
    right: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.closedMenuResponsive{
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease-out;
}